/***************************************************
****************************************************
*****SINGLE PAGE ARTWORK CSS SHEET******************
****************************************************
****************************************************/

/************
*	HEADER
*************/
h1
{
	font: 50px Helvetica, Sans-Serif;
	
	color: rgba(0,0,255,0.5); 
	text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
	letter-spacing: -5px;
}

h2 
{
	font-size: 20px;
}

#header 
{
	text-align:center;
	color: #636363;
}

/**************************
*	MAIN TABLE (artwork info and photo)
****************************/
table
{
	width: 100%;
}

#txtInfo, #imgInfo
{
	width: 50%;
	max-height: 600px; 
	max-width: 800px;
	overflow: auto;
}

#bodyInfo
{
	max-height: 800px;
	overflow: auto;
}
.int
{
	font-weight: bold;
}

span, .normal
{
	font-weight: normal;
}

/*********************
*	SIMILAR RESEARCH 
*************************/
#headerSimilarResearch
{
	font-size: 20pt;
}

.similarResearch
{
	margin-left: 20px;
	cursor: pointer;
	display: inline-block;
}

#imgArtwork
{
	max-height: 600px;
	max-width: 600px;
}

.caption
{
	font-size: 12pt;
}