/***************************************************
****************************************************
*****INDEX CSS SHEET******************
****************************************************
****************************************************/

/*
*	Header
*/
.header 
{
	text-align:center;
	color: #636363;
}

h1
{

	font: 50px Helvetica, Sans-Serif;
}

h2 
{
	font-size: 20px;
}

/*************
*da indicizzare!!!!!!!!
*/
#page1
{
	overflow: auto;
}

#btnInsertArtwork 
{  
	position: fixed; 
	right: 40px;
	bottom:40px;  
}

#searchTips, #no-tip
{
	font-size: 15px;
}
/*********/

/*
* simil-Google Istant tips
*/
.riga
{
	font-size:16pt;
	width:5600px; 
	margin-top: -20px;
}

/*
*	Research field
*/
#txtSearch
{
	color: #E0E0E0;
}

#txtSearch:focus, #noTip
{
	color: #000000;
}

/*
*	Highlight the title on mouseover	
*/
.cellTitle:hover
{
	cursor: pointer;
	font-weight: bold;
}


