/***************************************************
****************************************************
*****INDEX CSS SHEET******************
****************************************************
****************************************************/

/*
*	Header
*/
.header 
{
	text-align:center;
	color: #636363;
}

h1
{

	font: 50px Helvetica, Sans-Serif;
}

h2 
{
	font-size: 20px;
}

/*************
*da indicizzare!!!!!!!!
*/
#page1
{
	overflow: auto;
}

#btnInsertArtwork 
{  
	/*position: fixed; 
	right: 40px;
	bottom:40px;  */

	height: 200px;
	width: 250px;
	padding-top: 80px;
	font-size: 100px;
}

#searchTips, #noTip
{
	font-size: 15px;
}
/*********/

/*
* simil-Google Istant tips
*/
.riga
{
	font-size:16pt;
	width:100%; 
	margin-top: -30px;
}

/*
*	Research field
*/
#txtSearch
{
	color: #E0E0E0;
}

#txtSearch:focus, #noTip
{
	color: #000000;
}

/*
*	Highlight the title on mouseover	
*/
.cellTitle:hover
{
	cursor: pointer;
	font-weight: bold;
}

/*
*	NEW
*/


.tableLayoutHome-common-title
{
	font-size: 40px;
	margin-bottom: 50px;		
}

#tableLayoutHome-Artworks-Table
{
	background-color: #EDEFED;
	margin-bottom: 50px;

}

#tableLayoutHome-Artworks-Table td
{
	height: 300px;
	padding: 50px;
}


.cardH
{
	max-width: 250px;
	max-height: 200px;
}

.cardV
{
	max-width: 200px;
	max-height: 250px;
}

