/***************************************************
****************************************************
*****LOGIN CSS SHEET******************
****************************************************
****************************************************/

/*******************
*	Header 
********************/
h1
{
	font: 90px Helvetica, Sans-Serif;
}

h2 
{
	font-size: 30px;
}

h3 
{
	text-align:center;
	margin-top: 2em;
	color: #636363;
	font-weight: 300;
}

.header1
{
	text-align:center;
	color: white;
	/*position:absolute;*/
	width = 100%;
}

.header 
{
	text-align:center;
	color: black;
}

	
/*
*video
*/
#bgvid
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#overlay
{
	z-index: 1;
	position: relative;
	width: 100%;
	text-align: center;
}

/*******************
*Body
********************/
body
{
	background: #eee;
}

#home-googleplaybadge
{
	cursor: pointer;
}

#header-social
{
	width: 100%;
}

#table-social
{
	 margin: auto;
	cursor: pointer;
	width: 100px;
}

/*
*login form 
*/
form 
{
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

/*
*	input field and buttons
*/
input 
{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	background: #fafafa;
	color: #636363;
}

#btnAccess, #btnSignUp
{
	 position: relative;
	  display: inline-block;
	  padding: 12px 24px;
	  margin: .3em 0 1em 0;
	  width: 100%;
	  vertical-align: middle;
	   color: #fff;
	  font-size: 16px;
	  line-height: 20px;
	  -webkit-font-smoothing: antialiased;
	/*  text-align: center; */
	  letter-spacing: 1px;
	  border: 0;
	  cursor: pointer;
	  background: #4a89dc; 
}

#lblLoginError, #lblLoginError-SignUp
{
	color: red;
	width: 100%;
	text-align: center;
}

#page-login-newuser, #page-login-signup-alreadyuser
{
	width: 100%;
	text-align: center;
	top: 10px;
	font-size: 20px;
}

#page-login-newuser-link, #page-login-signup-alreadyuser-link
{
	cursor: pointer;
}

/*
*	Footer
*/
.footer 
{
    position: fixed;
    bottom: 20;
    width: 100%;
	text-align: center;
}

.row
{
	width: 100%;
	text-align: center;
	font-size: 15px;
}


/***********************************************/

/******************************HOME 2***************************/

.material-panel1
{
	width: 100%;
	height: 500px;
	background-color: #EE6E73;
	position:relative;
	color: white;
}

.material-panel
{
	width: 100%;
	height: 500px;
	background-color: white;
	position:relative;
}

#carousel-text
{
	font-size: 15px;
	text-align: center;
}

#museumMap
{
	width: 100%;
	height: 300px;
}

/**************************************************************/

/*
* HELP & FEEDBACK SECTIONS
*/

#help-header, #feedback-header, #aboutus-header
{
	width: 100%;
	height: 300px;
	background-color: #ef767a;
	text-align:center;
	color: white;
}

#feedback-content
{
}

#form-feedback
{
	width: 600px;
}

#feedback-bottom
{
	width: 100%;
	text-align: center;
	bottom: 50px;
	font-size: 20px;
}

#feedback-bottom-linkmail, #help-bottom-linkmail 
{
	cursor: pointer;
}

#navbar-help1
{
    position: fixed;
	right:0;
	top:300px;
}

.nav-wrapper
{
	position: relative;
	z-index:1;
	background-color: #EE6E73;
}

/**
*	HELP PAGE
*/

#help-firstpage-content
{
	position: absolute; 
	font-size: 20px;
	width: 100%;
	top: 364;
	text-align: center;
}

#help-firstpage-content-body
{
	position: absolute; 
	font-size: 20px;
	width: 100%;
	top:150;
}

#help-firstpage-content-title
{
	position: absolute; 
	text-align: center;
	font-size: 50px;
	width: 100%;
	top: 70;
}

#aboutus-firstpage-img, #aboutus-firstpage-img2, #aboutus-firstpage-img3
{
	width: 100%;
	position: relative;
}

#aboutus-firstpage-content
{
	position: absolute; 
	font-size: 20px;
	width: 100%;
	top: 364;

	text-align: center;
}

#aboutus-firstpage-content-body
{
	position: absolute; 
	font-size: 20px;
	width: 100%;
	top:450;
		color:white;
}

#aboutus-firstpage-content-title
{
	position: absolute; 
	text-align: center;
	font-size: 50px;
	width: 100%;
	top: 380;
	color:black;
}

#aboutus-firstpage-content-body2
{
	position: absolute; 
	font-size: 20px;
	width: 100%;
	top:1400;
		color:white;
}

#aboutus-firstpage-content-title2
{
	position: absolute; 
	text-align: center;
	font-size: 50px;
	width: 100%;
	top: 1330;
	color:black;
}

#aboutus-firstpage-content-body3
{
	position: absolute; 
	font-size: 20px;
	width: 100%;
	top:2100;
	color:white;
}

#aboutus-firstpage-content-title3
{
	position: absolute; 
	text-align: center;
	font-size: 50px;
	width: 100%;
	top:2000;
	color:black;
}

#help-firstpage-img
{
	width: 100%;
	position: relative;
}